{% extends 'edge/base.html' %} {% block content %} {% load static %}
<div class="aboutus">
    <div class="about">
        <div class="welcome">
            <h1>About us</h1>
            <div class="line"></div>
            <h2>Welcome to our cozy flower shop</h2>
            <p>
                Shop, where every composition is art, every bouquet is a story,
                and every flower is an emanation of feelings!
            </p>
        </div>
        <img src="{% static 'edge/images/florima.jpg' %}" />
    </div>
    <div class="line"></div>
    <h2>Flowers of freshness and color</h2>
    <p>
        Our offer includes the freshest and most colorful flowers, carefully
        selected especially for you. We pride ourselves on providing a variety
        from classic roses to exotic orchids to surprise even the most refined
        tastes.
    </p>
    <div class="line"></div>
    <h2>Flower masterpieces</h2>
    <p>
        In our store you will find not only bouquets, but also unique flower
        arrangements created by experienced florists. They are able to emphasize
        your feelings in the most beautiful way. Flowers are a perfect gift for
        any occasion.
    </p>
    <div class="line"></div>
    <h2>Sustainable approach</h2>
    <p>
        We strive for an ecological approach, using environmentally friendly
        materials.
    </p>
    <div class="line"></div>
    <h2>Flowers delivery</h2>
    <p>
        We also offer convenient delivery services to ensure that your floral
        gift reaches your desired address on time and in perfect condition.
    </p>
</div>
{% endblock %}
