<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="styles.css" />
        <script src="scripts.js" defer></script>
    </head>
    <body>
        <div class="navbar">
            <div class="logo">Ahadu</div>
            <div class="navcontents">
                <li>
                    <div class="dropdown">
                        <a href="newsletter.html">Flowers</a>
                        <div class="dropdowncontent">
                            <div class="dropdown2">
                                <a href="#1">Bouquets</a>
                                <div class="dropdowncontent2">
                                    <a href="#1">Bouquets of roses</a>
                                    <a href="#1">Bouquets mix</a>
                                    <a href="#1">Monobouquets</a>
                                    <a href="#1">Tulips</a>
                                </div>
                            </div>
                            <a href="#1">Flower compositions</a>
                            <div class="dropdown3">
                                <a href="#1">Wedding floristry</a>
                                <div class="dropdowncontent3">
                                    <a href="#1">Wedding bouquets</a>
                                    <a href="#1">Decorations</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <div class="content">
                    <li><a href="newsletter.html">Delivery and payment</a></li>
                    <li><a href="newsletter.html">About us</a></li>
                    <li><a href="newsletter.html">Contact</a></li>
                </div>
            </div>
            <div class="icons">
                <img src="images/phone-call-svgrepo-com.svg" />
                <img src="images/heart-svgrepo-com.svg" />
                <img src="images/basket-svgrepo-com.svg" />
            </div>
        </div>
        <div class="aboutus">
            <div class="about">
                <div class="welcome">
                    <h1>About us</h1>
                    <div class="line"></div>
                    <h2>Welcome to our cozy flower shop</h2>
                    <p>
                        Shop, where every composition is art, every bouquet is a
                        story, and every flower is an emanation of feelings!
                    </p>
                </div>
                <img src="images/florima.jpg" />
            </div>
            <div class="line"></div>
            <h2>Flowers of freshness and color</h2>
            <p>
                Our offer includes the freshest and most colorful flowers,
                carefully selected especially for you. We pride ourselves on
                providing a variety from classic roses to exotic orchids to
                surprise even the most refined tastes.
            </p>
            <div class="line"></div>
            <h2>Flower masterpieces</h2>
            <p>
                In our store you will find not only bouquets, but also unique
                flower arrangements created by experienced florists. They are
                able to emphasize your feelings in the most beautiful way.
                Flowers are a perfect gift for any occasion.
            </p>
            <div class="line"></div>
            <h2>Sustainable approach</h2>
            <p>
                We strive for an ecological approach, using environmentally
                friendly materials.
            </p>
            <div class="line"></div>
            <h2>Flowers delivery</h2>
            <p>
                We also offer convenient delivery services to ensure that your
                floral gift reaches your desired address on time and in perfect
                condition.
            </p>
        </div>

        <div class="footer">
            <div class="adress">
                <h2>Florima flowers</h2>
                <h4>Street Al 29 Listopada 32D/LU8</h4>
                <h4>Mon-Fri: 9:00-19:00</h4>
                <h4>Sat: 9:00-14:00</h4>
                <h4>Sun: Delivery only</h4>
                <div class="copywrite">
                    <h4>&copy; 2024 Florima Flowers.</h4>
                </div>
            </div>
            <div class="shop">
                <h4>shop</h4>
                <h4>Street Al 29 Listopada 32D/LU8</h4>
                <h4>Mon-Fri: 9:00-19:00</h4>
                <h4>Sat: 9:00-14:00</h4>
                <h4>Sun: Delivery only</h4>
            </div>
            <div class="join">
                <img src="images/join.svg" />
                <h4>Join us</h4>
            </div>
        </div>
    </body>
</html>
