{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'edge/css/styles.css' %}" />
        <script src={% static "edge/js/scripts.js" %} defer></script>
        <title>Document</title>
    </head>
    <body>
        <div class="navbar">
            <div class="logo"><a href="{% url "home" %}">Ahadu</a></div>
            <div class="navcontents">
                <li>    
                    <div class="dropdown">
                        <a href="{% url "flower" %}">Flowers</a>
                        <div class="dropdowncontent">
                            <div class="dropdown2">
                                <a href="{% url "flower" %}#1">Bouquets</a>
                                <div class="dropdowncontent2">
                                    <a href="{% url "flower" %}#1">Bouquets of roses</a>
                                    <a href="{% url "flower" %}#1">Bouquets mix</a>
                                    <a href="{% url "flower" %}#1">Monobouquets</a>
                                    <a href="{% url "flower" %}#1">Tulips</a>
                                </div>
                            </div>
                            <a href="{% url "flower" %}#1">Flower compositions</a>
                            <div class="dropdown3">
                                <a href="{% url "flower" %}#1">Wedding floristry</a>
                                <div class="dropdowncontent3">
                                    <a href="{% url "flower" %}#1">Wedding bouquets</a>
                                    <a href="{% url "flower" %}#1">Decorations</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <div class="content">
                    <li><a href="{% url "delivery" %}">Delivery and payment</a></li>
                    <li><a href="{% url "aboutus" %}">About us</a></li>
                    <li><a href="{% url "contactus" %}">Contact</a></li>
                </div>
            </div>
            <div class="icons">
                <img
                    src="{% static 'edge/images/phone-call-svgrepo-com.svg' %}"
                />
                <a href={% url "wishlist" %}>
                <img src="{% static 'edge/images/heart-svgrepo-com.svg' %}" /></a>
               <a onclick="loadCart()"> <img src="{% static 'edge/images/basket-svgrepo-com.svg' %}" /></a>
            </div>
            <div class = "usr">
            <svg xmlns="http://www.w3.org/2000/svg"  height="clamp(1rem, 2vw, 3rem)" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5.52 19c.64-2.2 1.84-3 3.22-3h6.52c1.38 0 2.58.8 3.22 3"/><circle cx="12" cy="10" r="3"/><circle cx="12" cy="12" r="10"/></svg>
            <h2> Kalab kassa </h2>
        </div>
        </div>
        <div class="checkout" aria-expanded="false">
            <div>
                <div class="row">
                    <h2>Shopping Cart</h2>
                    <a href="" onclick="hide()">
                        <svg
                            height="clamp(1rem,1vw, 2rem)"
                            viewBox="-0.5 0 25 25"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M3 21.32L21 3.32001"
                                stroke="#000000"
                                stroke-width="3.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M3 3.32001L21 21.32"
                                stroke="#000000"
                                stroke-width="3.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </a>
                </div>
                <div class="checkoutlists">
                    
                </div>
            </div>
            <div class="subtotal">
                <div class="row">
                    <h2>Subtotal:</h2>
                    <h2 id="total_price">647,00 zł</h2>
                </div>
                <a href="{% url "checkout" %}"><button>Checkout</button></a>
            </div>
        </div>
        {% block content %}{% endblock content %}
        <div class="footer">
            <div class="adress">
                <h2>Florima flowers</h2>
                <h4>Street Al 29 Listopada 32D/LU8</h4>
                <h4>Mon-Fri: 9:00-19:00</h4>
                <h4>Sat: 9:00-14:00</h4>
                <h4>Sun: Delivery only</h4>
                <div class="copywrite">
                    <h4>&copy; 2024 Florima Flowers.</h4>
                </div>
            </div>
            <div class="shop">
                <h4>shop</h4>
                <h4>Street Al 29 Listopada 32D/LU8</h4>
                <h4>Mon-Fri: 9:00-19:00</h4>
                <h4>Sat: 9:00-14:00</h4>
                <h4>Sun: Delivery only</h4>
            </div>
            <div class="join">
                <img src="{% static 'edge/images/join.svg' %}" />
                <h4>Join us</h4>
            </div>
        </div>
    </body>
</html>
