{% extends 'edge/base.html' %} {% block content %} {% load static %}
<div class="flowermain">
    <div class="search">
        <div class="searcher">
            <input
                class="search-input"
                type="text"
                placeholder="Search products..."
            />
            <button type="button" class="searchbtn">
                <h2>Search</h2>
            </button>
        </div>
        <div class="catagories">
            <h2>Catagories</h2>
            <p>Flowers</p>
            <p class="second">Bouquets</p>
            <p class="third">Bouquet smix</p>
            <p class="third">Bouquet of roses</p>
            <p class="third">MonoBouquets</p>
            <p class="third">Tulips</p>
            <p class="second">Flower compositions</p>
        </div>
    </div>
    <div class="list">
        <p>Home/Flowers</p>
        <h1>Flowers</h1>
        <div class="top">
            <p>Showing 1-12 of 54 results</p>
            <div class="flowerdropdown">
                <p id="flowerdropdowncontent " onclick="drop()">
                    Default sorting
                </p>
                <div class="flowerdropdowncontent">
                    <a href="#1">Default sorting</a>
                    <a href="#1">Sort by popularity</a>
                    <a href="#1">Sort by average rating</a>
                    <a href="#1">Sort by latest</a>
                    <a href="#1">Sort by price:low to high</a>
                    <a href="#1">Sort by price:high to low</a>
                </div>
            </div>
        </div>
        <div class="flowergrid">
            <div class="hits">
                <a href={% url "products" %}><img src="{% static 'edge/images/new.jpg' %}" /></a>
                <h3>Bouquet "pink mix"</h3>
                <h4>Bouquet mix</h4>
                <h3>150,00 zi - 535,00 zi</h3>
                <div class="size">
                    <div class="small" onclick="showbtn(1)">S</div>
                    <div class="small" onclick="showbtn(1)">M</div>
                    <div class="small" onclick="showbtn(1)">L</div>
                    <div class="small" onclick="showbtn(1)">XL</div>
                    <div class="small" onclick="showbtn(1)">XXL</div>
                </div>
                <button aria-expanded="false" class="addtocart">
                    Add To Cart
                </button>
            </div>
            <div class="hits">
                <a href={% url "products" %}><img src="{% static 'edge/images/flower2.jpg' %}" /></a>
                <h3>Bouquet "pink mix"</h3>
                <h4>Bouquet mix</h4>
                <h3>150,00 zi - 535,00 zi</h3>
                <div class="size">
                    <div class="small" onclick="showbtn(2)">S</div>
                    <div class="small" onclick="showbtn(2)">M</div>
                    <div class="small" onclick="showbtn(2)">L</div>
                    <div class="small" onclick="showbtn(2)">XL</div>
                    <div class="small" onclick="showbtn(2)">XXL</div>
                </div>
                <button aria-expanded="false" class="addtocart">
                    Add To Cart
                </button>
            </div>
            <div class="hits">
                <a href={% url "products" %}><img src="{% static 'edge/images/flower3.jpg' %}" /></a>
                <h3>Bouquet "pink mix"</h3>
                <h4>Bouquet mix</h4>
                <h3>150,00 zi - 535,00 zi</h3>
                <div class="size">
                    <div class="small" onclick="showbtn(3)">S</div>
                    <div class="small" onclick="showbtn(3)">M</div>
                    <div class="small" onclick="showbtn(3)">L</div>
                    <div class="small" onclick="showbtn(3)">XL</div>
                    <div class="small" onclick="showbtn(3)">XXL</div>
                </div>
                <button aria-expanded="false" class="addtocart">
                    Add To Cart
                </button>
            </div>
            <div class="hits">
                <a href={% url "products" %}><img src="{% static 'edge/images/new.jpg' %}" /></a>
                <h3>Bouquet "pink mix"</h3>
                <h4>Bouquet mix</h4>
                <h3>150,00 zi - 535,00 zi</h3>
                <div class="size">
                    <div class="small" onclick="showbtn(4)">S</div>
                    <div class="small" onclick="showbtn(4)">M</div>
                    <div class="small" onclick="showbtn(4)">L</div>
                    <div class="small" onclick="showbtn(4)">XL</div>
                    <div class="small" onclick="showbtn(4)">XXL</div>
                </div>
                <button aria-expanded="false" class="addtocart">
                    Add To Cart
                </button>
            </div>
            <div class="hits">
                <a href={% url "products" %}><img src="{% static 'edge/images/flower4.jpg' %}" /></a>
                <h3>Bouquet "pink mix"</h3>
                <h4>Bouquet mix</h4>
                <h3>150,00 zi - 535,00 zi</h3>
                <div class="size">
                    <div class="small" onclick="showbtn(5)">S</div>
                    <div class="small" onclick="showbtn(5)">M</div>
                    <div class="small" onclick="showbtn(5)">L</div>
                    <div class="small" onclick="showbtn(5)">XL</div>
                    <div class="small" onclick="showbtn(5)">XXL</div>
                </div>
                <button aria-expanded="false" class="addtocart">
                    Add To Cart
                </button>
            </div>
            <div class="hits">
                <a href={% url "products" %}><img src="{% static 'edge/images/flower5.jpg' %}" /></a>
                <h3>Bouquet "pink mix"</h3>
                <h4>Bouquet mix</h4>
                <h3>150,00 zi - 535,00 zi</h3>
                <div class="size">
                    <div class="small" onclick="showbtn(6)">S</div>
                    <div class="small" onclick="showbtn(6)">M</div>
                    <div class="small" onclick="showbtn(6)">L</div>
                    <div class="small" onclick="showbtn(6)">XL</div>
                    <div class="small" onclick="showbtn(6)">XXL</div>
                </div>
                <button aria-expanded="false" class="addtocart">
                    Add To Cart
                </button>
            </div>
        </div>
        <div class="pagecontainer">
            <div class="page active">
                <h3>1</h3>
            </div>
            <div class="page">
                <h3>2</h3>
            </div>
            <div class="page">
                <h3>3</h3>
            </div>
            <div class="page">
                <h3>4</h3>
            </div>
            <div class="page">
                <h3>&#8594;</h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}