<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="styles.css" />
        <script src="scripts.js" defer></script>
    </head>
    <body>
        <div class="navbar">
            <div class="logo">Ahadu</div>
            <div class="navcontents">
                <li>
                    <div class="dropdown">
                        <a href="newsletter.html">Flowers</a>
                        <div class="dropdowncontent">
                            <div class="dropdown2">
                                <a href="#1">Bouquets</a>
                                <div class="dropdowncontent2">
                                    <a href="#1">Bouquets of roses</a>
                                    <a href="#1">Bouquets mix</a>
                                    <a href="#1">Monobouquets</a>
                                    <a href="#1">Tulips</a>
                                </div>
                            </div>
                            <a href="#1">Flower compositions</a>
                            <div class="dropdown3">
                                <a href="#1">Wedding floristry</a>
                                <div class="dropdowncontent3">
                                    <a href="#1">Wedding bouquets</a>
                                    <a href="#1">Decorations</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <div class="content">
                    <li><a href="newsletter.html">Delivery and payment</a></li>
                    <li><a href="newsletter.html">About us</a></li>
                    <li><a href="newsletter.html">Contact</a></li>
                </div>
            </div>
            <div class="icons">
                <img src="images/phone-call-svgrepo-com.svg" />
                <img src="images/heart-svgrepo-com.svg" />
                <img src="images/basket-svgrepo-com.svg" />
            </div>
        </div>
        <div class="flowermain">
            <div class="search">
                <div class="searcher">
                    <input
                        class="search-input"
                        type="text"
                        placeholder="Search products..."
                    />
                    <button type="button" class="searchbtn">
                        <h2>Search</h2>
                    </button>
                </div>
                <div class="catagories">
                    <h2>Catagories</h2>
                    <p>Flowers</p>
                    <p class="second">Bouquets</p>
                    <p class="third">Bouquet smix</p>
                    <p class="third">Bouquet of roses</p>
                    <p class="third">MonoBouquets</p>
                    <p class="third">Tulips</p>
                    <p class="second">Flower compositions</p>
                </div>
            </div>
            <div class="list">
                <p>Home/Flowers</p>
                <h1>Flowers</h1>
                <div class="top">
                    <p>Showing 1-12 of 54 results</p>
                    <div class="flowerdropdown">
                        <p id="flowerdropdowncontent " onclick="drop()">
                            Default sorting
                        </p>
                        <div class="flowerdropdowncontent">
                            <a href="#1">Default sorting</a>
                            <a href="#1">Sort by popularity</a>
                            <a href="#1">Sort by average rating</a>
                            <a href="#1">Sort by latest</a>
                            <a href="#1">Sort by price:low to high</a>
                            <a href="#1">Sort by price:high to low</a>
                        </div>
                    </div>
                </div>
                <div class="flowergrid">
                    <div class="hits">
                        <img src="images/new.jpg" />
                        <h3>Bouquet "pink mix"</h3>
                        <h4>Bouquet mix</h4>
                        <h3>150,00 zi - 535,00 zi</h3>
                        <div class="size">
                            <div class="small">S</div>
                            <div class="small">M</div>
                            <div class="small">L</div>
                            <div class="small">XL</div>
                            <div class="small">XXL</div>
                        </div>
                    </div>
                    <div class="hits">
                        <img src="images/flower2.jpg" />
                        <h3>Bouquet "pink mix"</h3>
                        <h4>Bouquet mix</h4>
                        <h3>150,00 zi - 535,00 zi</h3>
                        <div class="size">
                            <div class="small">S</div>
                            <div class="small">M</div>
                            <div class="small">L</div>
                            <div class="small">XL</div>
                            <div class="small">XXL</div>
                        </div>
                    </div>
                    <div class="hits">
                        <img src="images/flower3.jpg" />
                        <h3>Bouquet "pink mix"</h3>
                        <h4>Bouquet mix</h4>
                        <h3>150,00 zi - 535,00 zi</h3>
                        <div class="size">
                            <div class="small">S</div>
                            <div class="small">M</div>
                            <div class="small">L</div>
                            <div class="small">XL</div>
                            <div class="small">XXL</div>
                        </div>
                    </div>
                    <div class="hits">
                        <img src="images/new.jpg" />
                        <h3>Bouquet "pink mix"</h3>
                        <h4>Bouquet mix</h4>
                        <h3>150,00 zi - 535,00 zi</h3>
                        <div class="size">
                            <div class="small">S</div>
                            <div class="small">M</div>
                            <div class="small">L</div>
                            <div class="small">XL</div>
                            <div class="small">XXL</div>
                        </div>
                    </div>
                    <div class="hits">
                        <img src="images/flower4.jpg" />
                        <h3>Bouquet "pink mix"</h3>
                        <h4>Bouquet mix</h4>
                        <h3>150,00 zi - 535,00 zi</h3>
                        <div class="size">
                            <div class="small">S</div>
                            <div class="small">M</div>
                            <div class="small">L</div>
                            <div class="small">XL</div>
                            <div class="small">XXL</div>
                        </div>
                    </div>
                    <div class="hits">
                        <img src="images/flower5.jpg" />
                        <h3>Bouquet "pink mix"</h3>
                        <h4>Bouquet mix</h4>
                        <h3>150,00 zi - 535,00 zi</h3>
                        <div class="size">
                            <div class="small">S</div>
                            <div class="small">M</div>
                            <div class="small">L</div>
                            <div class="small">XL</div>
                            <div class="small">XXL</div>
                        </div>
                    </div>
                </div>
                <div class="pagecontainer">
                    <div class="page active">
                        <h3>1</h3>
                    </div>
                    <div class="page">
                        <h3>2</h3>
                    </div>
                    <div class="page">
                        <h3>3</h3>
                    </div>
                    <div class="page">
                        <h3>4</h3>
                    </div>
                    <div class="page">
                        <h3>&#8594;</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="adress">
                <h2>Florima flowers</h2>
                <h4>Street Al 29 Listopada 32D/LU8</h4>
                <h4>Mon-Fri: 9:00-19:00</h4>
                <h4>Sat: 9:00-14:00</h4>
                <h4>Sun: Delivery only</h4>
                <div class="copywrite">
                    <h4>&copy; 2024 Florima Flowers.</h4>
                </div>
            </div>
            <div class="shop">
                <h4>shop</h4>
                <h4>Street Al 29 Listopada 32D/LU8</h4>
                <h4>Mon-Fri: 9:00-19:00</h4>
                <h4>Sat: 9:00-14:00</h4>
                <h4>Sun: Delivery only</h4>
            </div>
            <div class="join">
                <img src="images/join.svg" />
                <h4>Join us</h4>
            </div>
        </div>
    </body>
</html>
