{% extend 'edge/base.html' %} {% block content %}
{% load static %}
<div class="main">
    <div class="herosection">
        <div class="hero">
            <h1>
                Beautiful <br />
                &ensp; &ensp; & Gorgeous Flowers
            </h1>
            <p>
                Accessess our extraordinary collections of flowers with step
                by-step guidance at every stage. Explore flowers that transform
                your creative design into a floral masterpiece.
            </p>
        </div>
        <div class="flower">
            <img id="img" class="fl1" src="{% staic 'edge/images/f.png' %}" />
            <img id="img" class="fl2" src="{% staic 'edge/images/f2.png' %}" />
            <img id="img" class="fl3" src="{% staic 'edge/images/f2.png' %}" />
            <img id="img" class="fl4" src="{% staic 'edge/images/green.png' %}" />
            <img class="fl5" src="{% staic 'edge/images/yellow.png' %}" />
        </div>
    </div>
    <div class="options">
        <div class="bouquetsmix">
            <div class="container1">
                <h3>Bouquets Mix</h3>
            </div>
        </div>
        <div class="monobouquets">
            <div class="container2">
                <h3>Mono Bouquets</h3>
            </div>
        </div>
        <div class="bouquetsofroses">
            <div class="container3">
                <h3>Bouquets of Roses</h3>
            </div>
        </div>
        <div class="tulips">
            <div class="container4">
                <h3>Tulips</h3>
            </div>
        </div>
        <div class="flowercomp">
            <div class="container5">
                <h3>Flower Cmpositions</h3>
            </div>
        </div>
    </div>

    <div class="discriptions">
        <div class="discription">
            <img src="{% staic 'edge/images/disc1.png' %}" />
            <h4>Delivery in krakow 24/7</h4>
        </div>
        <div class="discription">
            <img src="{% staic 'edge/images/disc2.png' %}" />
            <h4>Only fresh flowers</h4>
        </div>
        <div class="discription">
            <img src="{% staic 'edge/images/disc3.png' %}" />
            <h3>Quick order processing</h3>
        </div>
        <div class="discription">
            <img src="{% staic 'edge/images/disc4.png' %}" />
            <h3>Indivdual approach to each client</h3>
        </div>
    </div>

    <div class="sales">
        <h1>Sales hits</h1>
        <div class="grid">
            <div class="hits">
                <img src="{% staic 'edge/images/new.jpg' %}" />
                <h3>Bouquet "pink mix"</h3>
                <h4>Bouquet mix</h4>
                <h3>150,00 zi - 535,00 zi</h3>
                <div class="size">
                    <div class="small">S</div>
                    <div class="small">M</div>
                    <div class="small">L</div>
                    <div class="small">XL</div>
                    <div class="small">XXL</div>
                </div>
            </div>
            <div class="hits">
                <img src="{% staic 'edge/images/flower2.jpg' %}" />
                <h3>Bouquet "pink mix"</h3>
                <h4>Bouquet mix</h4>
                <h3>150,00 zi - 535,00 zi</h3>
                <div class="size">
                    <div class="small">S</div>
                    <div class="small">M</div>
                    <div class="small">L</div>
                    <div class="small">XL</div>
                    <div class="small">XXL</div>
                </div>
            </div>
            <div class="hits">
                <img src="{% staic 'edge/images/flower3.jpg' %}" />
                <h3>Bouquet "pink mix"</h3>
                <h4>Bouquet mix</h4>
                <h3>150,00 zi - 535,00 zi</h3>
                <div class="size">
                    <div class="small">S</div>
                    <div class="small">M</div>
                    <div class="small">L</div>
                    <div class="small">XL</div>
                    <div class="small">XXL</div>
                </div>
            </div>
            <div class="hits">
                <img src="{% staic 'edge/images/new.jpg' %}" />
                <h3>Bouquet "pink mix"</h3>
                <h4>Bouquet mix</h4>
                <h3>150,00 zi - 535,00 zi</h3>
                <div class="size">
                    <div class="small">S</div>
                    <div class="small">M</div>
                    <div class="small">L</div>
                    <div class="small">XL</div>
                    <div class="small">XXL</div>
                </div>
            </div>
            <div class="hits">
                <img src="{% staic 'edge/images/flower4.jpg' %}" />
                <h3>Bouquet "pink mix"</h3>
                <h4>Bouquet mix</h4>
                <h3>150,00 zi - 535,00 zi</h3>
                <div class="size">
                    <div class="small">S</div>
                    <div class="small">M</div>
                    <div class="small">L</div>
                    <div class="small">XL</div>
                    <div class="small">XXL</div>
                </div>
            </div>
            <div class="hits">
                <img src="{% staic 'edge/images/flower5.jpg' %}" />
                <h3>Bouquet "pink mix"</h3>
                <h4>Bouquet mix</h4>
                <h3>150,00 zi - 535,00 zi</h3>
                <div class="size">
                    <div class="small">S</div>
                    <div class="small">M</div>
                    <div class="small">L</div>
                    <div class="small">XL</div>
                    <div class="small">XXL</div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h1>Reviews</h1>
    </div>
    <div class="line"></div>
    <div class="reviewmain">
        <div class="reviews">
            <img src="{% staic 'edge/images/quoteleft.svg' %}" />
            <img src="{% staic 'edge/images/quoteleft.svg' %}" />
        </div>
        <div class="reviewcontainer">
            <img src="{% staic 'edge/images/arrow.svg' %}" />
            <div class="review">
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Doloremque tempore, nisi accusamus, ratione illo architecto
                    deserunt quis aperiam saepe sed inventore fuga voluptas
                    magni dignissimos ipsam? Et aperiam fuga nesciunt.
                </p>
                <h4>James bond</h4>
                <h5>30.1.2024</h5>
            </div>
            <div class="review">
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Doloremque tempore, nisi accusamus, ratione illo architecto
                    deserunt quis aperiam saepe sed inventore fuga voluptas
                    magni dignissimos ipsam? Et aperiam fuga nesciunt.
                </p>
                <h4>James bond</h4>
                <h5>30.1.2024</h5>
            </div>
            <img src="{% staic 'edge/images/arrow2.svg' %}" />
        </div>
    </div>
</div>
{% endblock %}
