{% extends 'edge/base.html' %} {% block content %} {% load static %}
<div class="productsmain">
    <div class="products">
        <div class="product">
            <div class="row">
                <img src={% static "edge/images/product.jpg" %}/>
                <div class="productdetail">
                    <h3>
                        Home / Flowers / Bouquets / Bouquets mix / Bukiet
                        “Blissful”
                    </h3>
                    <h2>Bouquets mix</h2>
                    <h1>Bukiet “Blissful”</h1>
                    <h4>126,00 zł - 392,00 zł</h4>
                    <h5>&#8226;Na zdjęciu bukiet razmiar M</h5>
                    <div class="row">
                        <h5>Skład bukietu:</h5>
                        <h6>
                            róża piwoniowa 50-60cm cm, frezja, eukaliptus w
                            opakowaniu
                        </h6>
                    </div>
                    <div class="size">
                        <div class="small">S</div>
                        <div class="small">M</div>
                        <div class="small">L</div>
                        <div class="small">XL</div>
                        <div class="small">XXL</div>
                    </div>
                    <div class="add">
                        <h4>392,00 zł</h4>
                        <h6>Available on backorder</h6>
                        <div class="row">
                            <div class="row">
                                <button class="minus">&#8210;</button>
                                <input type="text" placeholder="1" />
                                <button class="plus">&plus;</button>
                            </div>
                            <button class="addcart">
                                <h2> Add To Cart</h2>

                                </button>
                        </div>
                    </div>
                    <h5>Add to Wish List</h5>
                </div>
            </div>
            <div class="descriptionreview">
                <div id="description">
                    <h5>Description</h5>
                </div>
                <div id="review">
                    <h5>Reviews</h5>
                </div>
            </div>
            <div class="row wide">
                <h4>James Bond:</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Illo alias voluptas ipsam earum quod! Quisquam deleniti quam
                    pariatur et nostrum ipsam temporibus at, numquam distinctio
                    ab reiciendis tenetur, ratione consequatur?
                </p>
            </div>
            <div class="befirst">
                <h2>Be the first to review “Bukiet “Blissful””</h2>
                <h3>
                    Your email address will not be published. Required fields
                    are marked *
                </h3>
                <h2>Your rating *</h2>
                <h2>Your review *</h2>
                <textarea class="input2" id="" cols="95" rows="4"></textarea>
                <div class="row">
                    <div class="column">
                        <h2>Name *</h2>
                        <input type="text" />
                    </div>
                    <div class="column">
                        <h2>Email *</h2>
                        <input type="text" />
                    </div>
                </div>
                <div class="row">
                    <h3>
                        Save my name, email, and website in this browser for the
                        next time I comment.
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
