{% extends 'edge/base.html' %} {% block content %} {% load static %}
<div class="deliverymain">
    <div class="delivery">
        <h2>Delivery and payment</h2>
        <div class="deliverycontent">
            <div class="topicscontainer">
                <div class="topic active">
                    <h3>TERMS OF DELIVERY</h3>
                </div>
                <div class="topic">
                    <h3>DELIVERY COST</h3>
                </div>
                <div class="topic">
                    <h3>IMPORTANT INFORMATION</h3>
                </div>
                <div class="topic">
                    <h3>PAYMENT METHODS</h3>
                </div>
            </div>
            <div class="details">
                <p>
                    Working hours: Delivery is made 7 days a week from 9:00 a.m.
                    to 9:00 p.m. Delivery for the current day is possible after
                    confirming the order by 6:00 p.m.
                </p>
                <p>
                    Night tariff (9:00 p.m. - 9:00 a.m.) - double delivery cost.
                    Night tariff (9:00 p.m. - 9:00 a.m.) - double delivery cost.
                </p>
                <p>Dostawa po za Kraków jest obliczana indywidualnie</p>
                <p>
                    If you don't need delivery, you can always pick up your
                    order directly in our store.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
