
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
}
.navbar {
    height: 8.5vh;
    display: flex;
    border-bottom-width: 1px;
    border-bottom-color: #eaeaea;
    border-bottom-style: solid;
    justify-content: space-evenly;
    align-items: center;
  
   
}

.navcontents {
    display: flex;
    /* margin-left: 26rem; */
    gap: 2rem;
}

.navcontents li a
 {
    text-decoration: none;
    color: black;
}


.navcontents li {
    list-style-type: none;
    
}
.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    width: 20vw;
}
.dropdowncontent{
    width: 14rem;
    
    top: 5rem;
    
    display: none;
    background-color: white;
    position: absolute;
    z-index: 100;
    border-top-width: 3px;
    border-top-color: #f83e91;
    border-top-style: solid;
    flex-direction: column;
    padding-bottom: 1rem;
    
    
}
.dropdown {
    height: 10vh;
    display: flex;
    align-items: center;
}
.dropdowncontent a {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.dropdowncontent2{
    width: 14rem;
    top: -0.2rem;
    left: 14rem;
    display: none;
    
    background-color: white;
    position: absolute;
    z-index: 100;
    flex-direction: column;
    padding-bottom: 1rem;
    border-top-width: 3px;
    border-top-color: #f83e91;
    border-top-style: solid;
}
.dropdowncontent3{

    width: 14rem;
    
    top: 4rem;
    left: 14rem;
    display: none;
    
    background-color: white;
    position: absolute;
    z-index: 100;
    flex-direction: column;
    padding-bottom: 1rem;
    border-top-width: 3px;
    border-top-color: #f83e91;
    border-top-style: solid;

}
.dropdown:hover .dropdowncontent{
    display: flex;
}
.navcontents li .dropdown :hover  {
    color: #f83e91;
}


.dropdown2:hover .dropdowncontent2{
    display: flex;
}
.dropdown2:hover .dropdowncontent > a{
    color: #f83e91;
}
.dropdown3:hover .dropdowncontent3{
    display: flex;
}
.icons {
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icons img {
    width: 2rem;
    height: 1.5rem;
}
.main {
    width: 100%;
    display: flex;
    align-items: center;   
    flex-direction: column;
}
.herosection{
    width: 100%;
    background-color: #FEFAF1;
    display: flex;
    margin-bottom: 5rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    
    
   
}
.herosection::after {
    content: "";

    position: absolute;
    width: 100%;
    aspect-ratio: 1;
    background: hsla(339, 50%, 78%, 0.5);
    top: 0;
    z-index: -1;
    
     
    animation: slide 2000ms forwards ;
    border-radius: 50%;
}

.hero {
    width: 33%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    margin-right: 10%;
    

    
}
.flower {
    position: relative;
    z-index: 10;
    /* rotate: -30deg; */
    animation: rotate 2000ms ;
}
.flower img{
    width: 100%;
    
}
.flower::after,
.flower::before {
    content: "";
    width: 84%;
    height: 84%;
    position: absolute;
    
    top: 9%;
    bottom: 0;
    left: 7%;
    right: 0;
    border-radius: 50%;
}
.flower::before {
    background: hsl(339, 69%, 73%);
    z-index: -19;
    animation: pulse 2000ms ;
}

@keyframes pulse {
    0% {
        transform: scale(0);
    }    
    100% {
        transform: scale(1);
    }
}
@keyframes slide {
    0% {
        transform: scale(0);
        transform-origin: left;
       
    }
    100%
        {
        transform: scale(2);
        
        
    }
}
@keyframes rotate {
    0% {
        rotate: -30deg;
    }
    100% {
        rotate: 0deg;
    }
}

    

.hero h1 {
    font-family:serif;
    color: #470D38;
    font-size: 5rem;
    
    margin-bottom: 4rem;
    margin-top: 6rem;
}
.hero p {
    color: rgba(0, 0, 0, 0.541);
    font-size: 1.4rem;
    text-align: left;
    font-weight: 200;
    margin-bottom: 4rem;
}
.options {
    width: 62%;
    display: flex;
    flex-direction: row;
    margin-bottom: 5rem;
}
.bouquetsmix  {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 20%;
    
    background-image: url({% static 'edge/images/bouquetsmix.jpg' %});
    background-repeat: no-repeat;
    background-color: black;
    
    padding-top: 11rem;
    padding-bottom: 11rem;
    position: relative;
    z-index: 1;
    
    
}
.bouquetsmix::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0,0.5);
    top: 0;
    z-index: -1;
    transition: transform 500ms ease-in;
    transform: scaley(0);
    transform-origin: top;
}

.bouquetsmix:hover .container1{
    
    transform: translateY(-2rem);
    
}

.monobouquets:hover .container2{
    transform: translateY(-2rem);
}
.bouquetsofroses:hover .container3{
    transform: translateY(-2rem);
}
.tulips:hover .container4{
    transform: translateY(-2rem);
}
.flowercomp:hover .container5{
    transform: translateY(-2rem);
}
.bouquetsofroses {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 20%;
    background-image: url('{{ STATIC_URL }}edge/images/bouquetsofroses.jpg');
    background-repeat: no-repeat;
    background-color: black;
    position: relative;
    z-index: 1;
    
    padding-top: 10rem;
    padding-bottom: 10rem;

    
}
.flowercomp  {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 20%;
    
    background-image: url({% static 'edge/images/flowercomposition\ \(1\).jpg' %});
    background-repeat: no-repeat;
    background-color: black;
    position: relative;
    z-index: 1;
    
    padding-top: 10rem;
    padding-bottom: 10rem;
    
}
.container1 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: transform 500ms ease-in;
}
.container2 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    transition: transform 500ms ease-in;
}
.container3 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    transition: transform 500ms ease-in;
}
.container4 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    transition: transform 500ms ease-in;
}
.container5 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: transform 500ms ease-in;
}

.options h3 {
    color: white;
}
.monobouquets {
    width: 20%;
    
    margin-left: 2rem;
    margin-right: 2rem;
    background-image: url({% static 'edge/images/monobouquets.jpg' %});
    background-color: black;
    background-repeat: no-repeat;
    padding-top: 12rem;
    padding-bottom: 12rem;
    position: relative;
    z-index: 1;
    

}
.tulips {
    width: 20%;
    
    margin-left: 2rem;
    margin-right: 2rem;
    background-image: url({% static 'edge/images/calaful-prints-gMLfNd3iums-unsplash\ \(1\).jpg' %});
    background-color: black;
    background-repeat: no-repeat;
    padding-top: 12rem;
    padding-bottom: 12rem;
    position: relative;
    z-index: 1;

}
.monobouquets::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0,0.5);
    top: 0;
    z-index: -1;
    transition: transform 500ms ease-in;
    transform: scaley(0);
    transform-origin: top;
}
.bouquetsofroses::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0,0.5);
    top: 0;
    z-index: -1;
    transition: transform 500ms ease-in;
    transform: scaley(0);
    transform-origin: top;
}
.tulips::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0,0.5);
    top: 0;
    z-index: -1;
    transition: transform 500ms ease-in;
    transform: scaley(0);
    transform-origin: top;
}
.flowercomp::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0,0.5);
    top: 0;
    z-index: -1;
    transition: transform 500ms ease-in;
    transform: scaley(0);
    transform-origin: top;
}
.bouquetsmix:hover::after {
    transform: scaley(1);
    transform-origin: bottom;
}
.monobouquets:hover::after {
    transform: scaley(1);
    transform-origin: bottom;
}
.bouquetsofroses:hover::after {
    transform: scaley(1);
    transform-origin: bottom;
}
.tulips:hover::after {
    transform: scaley(1);
    transform-origin: bottom;
}
.flowercomp:hover::after {
    transform: scaley(1);
    transform-origin: bottom;
}

.monobouquets img {
    width: 100%;
    height: 100%;
}

.discriptions {
    width: 100%;
    height: 25vh;
    margin-bottom: 5rem;
    background-color: #F8F4F6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.discriptions img{
    width: 4rem;
    height: 4rem;
}
.discription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sales{
    width: 62%;
}
.grid {
    display:grid;
    gap: 4rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.hits {
    padding-top: 3rem;
    margin-bottom: 5rem;
}
.hits h4 {
    font-weight: 100;
    
}
.size {
    display: flex;
    gap: 0.5rem;
}
.small {
    font-weight: 100;
    border: 0.1px solid #DFDFDF;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    
}
.review h1{
    font-size: 2.5rem;
    
}
.line {
    width: 4rem;
    margin-bottom: 4rem;
    border: 2px solid #FA7CBB;
}
.reviews {
    display: flex;
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
    padding-inline: 12rem
}
.reviews img {
    width: 2rem;
    height: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.reviewcontainer {
    display: flex;
    
    padding-inline: 8rem;
    padding-top: 2rem;
    flex-grow: 1;
    margin-bottom: 5rem;
}

.review {
    text-align: center;
    width: 45ch;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
   
}
.reviewmain {
    width: 100%;
    
}
.review h4 {
    margin-top: 1rem;
    color:#FA7CBB ;
}
.review h5 {
    color:#FA7CBB ;

}
.reviewcontainer >   img {
    position: relative;
    display: flex;
    
    top: -2rem;
}
.footer {
    background-color: #140610;
    padding-inline: 20rem;
    padding-block: 5rem;
    display: flex;
    justify-content: space-between;
    
}
.adress {
    gap: 4rem;
}
.adress h2 {
    color: white;
}
.adress h4 {
    color: white;
    font-weight: 200;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

}
.shop {
    margin-top: 1.5rem;
}
.join {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
}

.shop h4 {
    color: white;
    font-size: .85rem;
    font-weight: 150;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.join h4 {
    color: white;
    font-size: 1rem;
    font-weight: 150;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.join img{
    width: 1.5rem;
    height: 1.5rem;
    font-weight: 150;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.copywrite {
    margin-top: 5rem;
}
.copywrite h4 {
    color: white;
    font-size: 1rem;
    font-weight: 150;
    margin: 0;
}

